body {
    background-color: rgb(176, 224, 230);
    color: rgb(64, 64, 64);
    font-family: "Inter", sans-serif;
}

h1 {
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 700;
    color: rgb(25, 50, 90);
    text-shadow: 2px 2px 4px rgb(150, 150, 150);
}

h2 {
    font-size: 28px;
    font-weight: 600;
    color: rgb(25, 50, 90);
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(45, 75, 125);
}

nav {
    margin-bottom: 24px;
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
}

img {
    margin-bottom: 24px;
    width: 300px;
    height: auto;
}

.Experience-block {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(120, 140, 170);
    border-radius: 10px;
}

.Experience-header {
    display: flex;
    justify-content: space-between;
}

#About, #Experience, #Skills, #Projects, #Connect {
    margin-bottom: 32px;
    padding: 8px;
}

#Connect {
    margin-bottom: 24px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links img {
    width: 40px;
    height: 40px;
}

.social-links img:hover {
    opacity: 0.7;
}